<div class="container imagen">
  
  <div>
    <h1>Cuernos Largos de Aguascalientes A.C.</h1>
    
  <div class="card" style="width: 38rem;">
    
    <div class="card-body">
      <h3 class="card-title">Quienes somos</h3>
      <ul class="card-text">
        <li>A. C. Constituida legalmente en mayo del 2011</li>
        <li>Socios actuales:
          <ul>
            <li>Ing. Luis Fernando Flores Oviedo - Presidente</li>
            <li>Lic. Gustavo Alberto Tavarez Gutierrez - Vicepresidente</li>
            <li>Lic. Víctor Agustín Méndez Ramírez - Tesorero</li>
            <li>Ing. Héctor Daniel Lira Padilla - Vocal</li>
          </ul>
      </ul>
    </div>
  </div>

    <div class="card-body card-primary">
      <%= image_tag "equipos.jpg", class: "card-img-top" %>
      <h3>Misión</h3>
      <p>
        Inculcar la disciplina deportiva como vehículo para fomentar el desarrollo de niños y 
        jóvenes como estudiantes y deportistas que puedan ser seleccionados por instituciones 
        educativas de prestigio.
      </p>
    </div>
    <div class="card-body card-primary">
      <h3>Visión</h3>
      <p>
        Ser un equipo con prestigio nacional como formadores de excelentes 
        <br><h3>“Estudiantes – Atletas”</h3>
      </p>
    </div>
    <div class="card-body card-primary">
      <h3>Filosofía</h3>
      <ul>
        <li>Valores: Respeto, trabajo en equipo, esfuerzo, amistad.</li>
        <li>El esfuerzo conjunto, la autodisciplina y la voluntad enfocada son las bases para lograr cualquier meta.</li>
        <li>Minimizar las diferencias de aptitud maximizando la actitud.</li>
        <li>El sano desarrollo deportivo, cívico, académico y familiar.</li>
      </ul>
    </div>
    <div class="card-body card-primary">
      <h3>Objetivos</h3>
      <ul>
        <li>Contribuir a la formación integral de los jóvenes de Aguascalientes.</li>
        <li>Fomentar la integración familiar a través de actividades deportivas y recreativas.</li>
        <li>Profesionalizar a nuestro Staff participando en clínicas y seminarios.</li>
        <li>Participar en programas de acción social con empresas y organizaciones civiles.</li>
      </ul>
    </div>
    <%= link_to "https://www.google.com/maps/@21.919639,-102.276389,17z?hl=en", target: :_blank do %>
      <button class="btn btn-success">Instalaciones</button>
    <% end %>
  </div>
  <div id="custom-places" class="small-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1850.6938654894316!2d-102.27721183012606!3d21.919640862094322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDU1JzEwLjciTiAxMDLCsDE2JzM1LjAiVw!5e0!3m2!1sen!2smx!4v1627274459832!5m2!1sen!2smx" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
</div>
