<div>
  <h1>Preguntas Frecuentes</h1>
  <div>
    <h3 style="color:#ac4e00;">¿El football americano es peligroso?</h3>
    <p>Como en toda disciplina deportiva de contacto (Karate, Judo, Tae Kwon Do, etc) existe un factor
    De riesgo, sin embargo nuestro staff de coucheo está certificado por la Federación Mexicana de Football Americano
    en técnicas de football moderno, donde se prioriza la seguridad de los jugadores y se evita la violencia
    en la práctica del deporte.</p>
  </div>
  <div>
    <h3 style="color:#ac4e00;">¿Si mi hijo practica el football americano podría desarrollar una Encefalopatía traumática crónica?</h3>
    <p>Según estudios, la ETC (o CTE por sus siglas en inglés: Chronic Traumatic Encephalopathy) se desarrolla a causa de golpeo repetido en la cabeza y
    episodios repetidos de contusión cerebral; En el pasado se entrenaba a los jugadores a usar su casco como objeto
    de golpeo para causar el mayor impacto, en la actualidad esta práctica <b>ES SEVERAMENTE PENALIZADA (expulsión del jugador)</b> y ya no se 
    entrena a los jugadores a utilizar las antíguas técnicas de tackleo con el casco. Esto ha ayudado a minimizar el riesgo de 
    desarrollar una Encefalopatía Traumática Crónica practicando el football americano, caso contrario del Box, donde sí existe un alto riesgo.</p>
  </div>
  <div>
    <h3 style="color:#ac4e00;">¿Que días y en qué horario se entrena?</h3>
    <p>Martes a Jueves, categorías Infantiles de 18:00 a 20:00 Hrs. <br>Categorías mayores de 20:00 a 22:00 Hrs. <br>
    Mayores de 40 años de 21:00 a 23:00 Hrs.</p>
  </div>
  <div>
    <h3 style="color:#ac4e00;">¿Desde qué edad se puede practicar el football americano?</h3>
    <p>Desde los 5 años pueded integrarse a un equipo de escuelita (flag football) y desde los 8 años podrá integrarse a un equipo de football americano equipado.</p>
  </div>
  <div>
    <h3 style="color:#ac4e00;">¿Cual es la cuota para participar en la temporada?</h3>
    <p>Depende de la disciplina (flag o equipado) y de la categoría. Lo mejor es ponerse en contacto con alguna de las 'field managers' a través del sitio de facebook 
    o del apartado 'Contacto' de este sitio web.</p>
  </div>
</div>
