<div class="container">
  <div class="cabeza">
    <h1>Equipos</h1>
  </div>
  <table class="table">
    <thead>
      <th>Categoría</th>
      <th>Edades</th>
    </thead>
    <tbody>
      <tr>
        <td>Escuelita</td>
        <td>5 a 8 años</td>
      </tr>
      <tr>
        <td>Infantiles</td>
        <td>8 a 15 años</td>
      </tr>
      <tr>
        <td>Juvenil</td>
        <td>16 a 18 años</td>
      </tr>
      <tr>
        <td>Femenil Bandera</td>
        <td>15 en adelante</td>
      </tr>
      <tr>
        <td>Femenil equipadas</td>
        <td>18 en adelante</td>
      </tr>
      <tr>
        <td>Intermedia</td>
        <td>19 a 23 años</td>
      </tr>
      <tr>
        <td>College</td>
        <td>24 a 25 años</td>
      </tr>
      <tr>
        <td>Master</td>
        <td>25 a 39 años</td>
      </tr>
      <tr>
        <td>40plus</td>
        <td>40 en adelante</td>
      </tr>
    </tbody>
    
  </table>
</div>