  <hr class="stripeBurnt">
  <hr class="stripeWhite">
  <hr class="stripeBurnt">
  <hr class="stripeWhite">
<footer>
  <div class="row">
    <div class="col">
      <i class="far fa-copyright"></i>
      Cuernos Largos de Aguascalientes A. C. 
    </div>
    <div class="col">
      <span>Búscanos en las redes...</span>
    </div>
    <div class="col">
 
        <%= link_to "https://www.facebook.com/cuernoslargosags", target: :_blank do %>
          <i class="fab fa-facebook"></i> facebook
        <% end %>
    </div>

  </div>
</footer>