
<div id="contact" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>¿Necesita información?</h3>
      <p class="lead">Permítanos atender sus preguntas con respecto a nuestra organización.</p>
    </div><!-- end title -->
    <div class="row">
      <div class="col-xl-6 col-md-12 col-sm-12">
        <p><i class="fab fa-whatsapp-square fa-2x"></i> 449 236 1929</p>
      </div>
      <div class="col-xl-6 col-md-12 col-sm-12">
        <%= link_to 'https://www.facebook.com/cuernoslargosags', target: :_blank do %>
          <i class="fab fa-facebook-square fa-2x"></i>Cuernos Largos de Aguascalientes A.C.
        <% end %>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
    	<div class="col-xl-6 col-md-12 col-sm-12">
        <h3>Te invitamos a conocer nuestro campo en...</h3>
		  	<div class="map-box">
		  		<div id="custom-places" class="small-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1850.6938654894316!2d-102.27721183012606!3d21.919640862094322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDU1JzEwLjciTiAxMDLCsDE2JzM1LjAiVw!5e0!3m2!1sen!2smx!4v1627274459832!5m2!1sen!2smx" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
		  	</div>
		  </div>
      <div class="col-xl-6 col-md-12 col-sm-12">
        <div class="contact-form">
          <%= render 'form', contact: @contact %>

        </div>
        <p id="notice"><%= notice %></p>
      </div><!-- end col -->

    </div><!-- end row -->
    
  </div><!-- end container -->
</div><!-- end section -->